<ion-header>
  <ion-toolbar>
    <ion-title>Quote Library</ion-title>
    <ion-title>Kamen Chen Yu 030137313</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-text-center">Select Your Favorite Quotes</h3>
  <ion-list *ngFor="let quoteGroup of quoteCollection">
    <ion-item>
      <ion-icon [name]="quoteGroup.icon" slot="start"></ion-icon>
      <ion-label>
        <h2>{{quoteGroup.category | uppercase}}</h2>
        <p>{{quoteGroup.quotes.length}} quotes</p>
      </ion-label>
    </ion-item>
    <ion-item-sliding>
      <ion-item *ngFor="let quoteDetail of quoteGroup.quotes; let i=index">
        <ion-label>
          <h2>{{i+1}} {{quoteDetail.person}}</h2>
          <p>{{quoteDetail.text}}</p>
        </ion-label>
      </ion-item>
      <!--
      <ion-item-options slide="start">
        <ion-item-option (click) = "onAddToFavorite(quoteDetail)">
        <ion-icon name="heart"></ion-icon>Favorite
        </ion-item-option>
      </ion-item-options>
      -->
    </ion-item-sliding>
  </ion-list>
</ion-content>
